.nav__posting {
    cursor: pointer;
}

#postPop {
    position: fixed;
}

#postPop.reveal {
    z-index: 9999;
    display: block;
    opacity: 1;
    pointer-events: all;
}

#postPop {
    display: none;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 99999;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 63px 40px 63px;
    pointer-events: none;
    background-color: #1e1e1ea1;
    backdrop-filter: blur(5px);
}

#postPop .postPop__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    -webkit-transform: translate(-50%, -180%);
    transition: transform 0.35s cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 0.2s cubic-bezier(0.6, 0.05, 0.28, 0.91);
    max-width: 900px;
    width: 80%;
    flex-direction: column;
    border-radius: 5px 5px 10px 10px;
    pointer-events: auto;
    background-color: #181818;
    background-clip: padding-box;
    border: 1px solid rgb(138 138 138 / 62%);
    box-shadow: rgb(0 0 0 / 48%) 0 26px 30px -10px, rgb(0 0 0 / 23%) 0 16px 10px -10px;
    padding: 1rem;
    opacity: 0;
}
#postPop.reveal .postPop__container {
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    transition: transform 0.35s cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 0.8s cubic-bezier(0.6, 0.05, 0.28, 0.91);
    opacity: 1;
}

/*====tag cloud*/

.tag-cloud__container {
    padding: 1.5rem 1rem 0;
    /* border-top: 1px solid #525252; */
}

.tag-cloud__title {
    margin-bottom: 1rem;
    margin-left: 10px;
}

.tag-cloud__list span {
    display: inline-block;
    margin: 10px 1px;
}

.tag-cloud__list span {
    display: inline-block;
    margin: 10px 1px;
}

.tag-cloud__tags {
    border: 1px solid #535353;
    border-radius: 50px;
    padding: 7px 10px 5px;
}

.tag-cloud__tags > i {
    padding-right: 0.5rem;
}

/* tagify 라이브러리 */

.tagify {
    width: 100%;
}

.tag-input {
    background-color: white;
    color: black;
}

.tags-look .tagify__dropdown__item {
    display: inline-block;
    border-radius: 3px;
    padding: 0.3em 0.5em;
    border: 1px solid #ccc;
    background: #f3f3f3;
    margin: 0.2em;
    font-size: 0.85em;
    color: black;
    transition: 0s;
}

.tags-look .tagify__dropdown__item--active {
    color: black;
}

.tags-look .tagify__dropdown__item:hover {
    background: lightyellow;
    border-color: gold;
}
