<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BookMark Saver 메인</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <!--==========FONT Awesome PRO 5==========-->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css"
        />

        <link
            href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
            rel="stylesheet"
        />
        <meta property="og:title" content="내 사이트의 제목" />
        <meta
            property="og:description"
            content="보고 있는 페이지의 내용 요약"
        />
        <meta property="og:image" content="이미지URL" />
        <link rel="stylesheet" href="../static/css/style.css" />
        <!--postpop style sheet 추가-->
        <link rel="stylesheet" href="../static/css/postpop.css" />
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="40">
        <!-- Page Navbar -->
        <nav class="custom-navbar">
            <div class="container">
                <a class="logo" href="/">BookMark Saver</a>
                <ul class="nav">
                    <li class="item">
                        <a class="link" href="#home">홈</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#about">로그인</a>
                    </li>
                </ul>
                <div class="nav__posting text-light fs-4">
                    <i class="fas fa-pencil-alt"></i>
                </div>
                <a
                    href="javascript:void(0)"
                    id="nav-toggle"
                    class="hamburger hamburger--elastic"
                >
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </a>
            </div>
        </nav>
        <!-- End of Page Navbar -->
        <header id="home" class="header">
            <div class="overlay"></div>
            <section id="main__section"></section>
            <!--GET으로 보여질 부분-->
            <section>
                <div id="bookmarks" class="mycards">
                    <div
                        class="row row-cols-1 row-cols-md-4 g-4"
                        id="cards-box"
                    ></div>
                </div>
            </section>
        </header>
    </header>

    <div id="postPop" class="closeBtn_C" style="display: none">
        <div class="postPop__container" id="post-box">
            <div class="form-floating mb-3 postPop__form">
                <input
                    id="postPop__url"
                    type="text"
                    class="form-control"
                    placeholder="url"
                />
                <label>URL</label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01"
                    >카테고리</label
                >
                <input
                    id="category"
                    type="text"
                    class="form-control"
                    placeholder="ex)유튜브"
                />
            </div>
            <div class="form-floating">
                <textarea
                    id="hash"
                    class="form-control"
                    placeholder="Leave a comment here"
                ></textarea>
                <label for="floatingTextarea2">#Hashtag</label>
            </div>
            <div class="mybtns">
                <button
                    onclick="save_bookmark()"
                    type="button"
                    class="btn btn-light"
                >
                    북마크
                </button>
                <button
                    onclick="close_box()"
                    type="button"
                    class="btn btn-outline-light"
                >
                    닫기
                </button>
            </div>

            <!-- 태그 클라우드 -->
            <hr />
            <div class="tag-cloud__container">
                <div class="tag-cloud__title">
                    <i
                        class="fad fa-user-tag"
                        style="
                            --fa-primary-color: rgb(74 134 183);
                            --fa-secondary-color: rgb(134 134 134);
                            padding-right: 10px;
                        "
                    ></i>
                    <a href="">태그 클라우드로 이동</a>
                </div>
                <div class="tag-cloud__list">
                    <!--태그 리스트-->
                    <span>
                        <a href="" class="tag-cloud__tags">
                            <i class="fad fa-tags tags-i"></i> 유튜브
                        </a>
                    </span>
                </div>
            </div>
            <div
                class="tag-cloud__info-meta d-flex justify-content-end me-3"
            >
                <img src="" />
                <span class="stag-cloud__small text-light flex-row-reverse"
                    >북마크할 웹사이트 링크를 등록해보세요!</span
                >
            </div>
        </div>
    </div>
        <script src="/static/js/common.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
